body {
  margin-top: 100px;
}
ul{
  padding: 0%;
  margin-bottom: 0;
}
ul li{
  border:  1px solid grey;
  list-style: none;
  padding:  3px;
}
h1{text-align: center;}

input{border: none; width: 100%;}
/* Oculta el icono por defecto */
.todo-item .delete-icon {
  visibility: hidden;
}

/* Lo muestra cuando el ratón entra en el li */
.todo-item:hover .delete-icon {
  visibility: visible;
}

.delete-icon:hover {
  color: red !important;
}